<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hellowu.mapper.BoardCommentMapper"> 
	<select id="getBoardCommentList" resultType="map">
		SELECT 
			${body.PKNUM},${body.FKNUM},UI_NICKNAME,${body.CONTENT},DATE_FORMAT(${body.MODDAT},'%Y-%m-%d %H:%i:%s') ${body.MODDAT}
		FROM 
			${body.TABLENAME}
		WHERE
			${body.ACTIVE} = 1 
		AND 
			${body.FKNUM} = #{param.boardNum}
		LIMIT
			${param.nowPage},10 
	</select>
	<select id="totalViewCnt" resultType="int">
		SELECT 
  			COUNT(1)
  		FROM
  			${body.TABLENAME}
  		WHERE
  			${body.FKNUM} = #{boardNum}
  		AND
  			${body.ACTIVE} = 1
	</select>
	
	
	<insert id="insertBoardComment">
	INSERT INTO 
		${body.TABLENAME}
		(${body.FKNUM}, UI_NICKNAME, ${body.CONTENT})
	VALUES
		(#{param.num}, #{param.nickname}, #{param.content})
	</insert>
	
	<update id="updateBoardComment">
	UPDATE 
		${body.TABLENAME}
	SET
		${body.CONTENT} = #{param.content},
		${body.MODDAT} = NOW()
	WHERE 
		${body.NUM} = #{param.num}
	</update>
	
	<update id="updateBoardCommentActive">
	UPDATE 
		${body.TABLENAME} 
	SET
		${body.ACTIVE} = 0
	WHERE 
		${body.NUM} = #{commentNum};	
	</update>
</mapper>