<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hellowu.mapper.BoardListMapper">
	<select id="getBoardColumnNames" resultType="map">
		SELECT 
			COLUMN_NAME 
		FROM 
			INFORMATION_SCHEMA.COLUMNS 
		WHERE
			TABLE_NAME = #{tableName}
	</select>
	<select id="selectSidebarMenu" resultType="kr.co.hellowu.vo.BoardListVO">
		SELECT
			BL_NUM,BL_REQUESTER_NICKNAME,BL_BOARD_KOR_NAME,
			BL_BOARD_ENG_NAME,BL_CATEGORY,BL_COMMENT,BL_SUFFIX,BL_APPROVAL_DATE
		FROM
			BOARD_LIST
	</select>
	<insert id="insertBoardList">
		INSERT INTO
			BOARD_LIST
			(
			BL_REQUESTER_NICKNAME,BL_BOARD_KOR_NAME,BL_BOARD_ENG_NAME,
			BL_CATEGORY,BL_SUFFIX,BL_COMMENT
			)
		VALUES
			(
			#{blRequesterNickname},#{blBoardKorName},#{blBoardEngName},
			#{blCategory},#{blSuffix},#{blComment}
			)
	</insert>
	<select id="findNicknameBySuffixAndNickname" resultType="string">
		SELECT
			BL_REQUESTER_NICKNAME
		FROM
			BOARD_LIST
		WHERE
			BL_SUFFIX = #{blSuffix}
		AND
			BL_REQUESTER_NICKNAME= #{blRequesterNickname}
	</select>
	<select id="selectBoardListGroupByCategory" resultType="map">
		SELECT 
			BL_NUM,BL_REQUESTER_NICKNAME,BL_BOARD_KOR_NAME,BL_BOARD_ENG_NAME,BL_CATEGORY,BL_COMMENT,BL_SUFFIX,BL_APPROVAL_DATE 
		FROM 
  			(
    		SELECT 
    			BL_NUM,BL_REQUESTER_NICKNAME,BL_BOARD_KOR_NAME,BL_BOARD_ENG_NAME,BL_CATEGORY,BL_COMMENT,BL_SUFFIX,BL_APPROVAL_DATE 
    		FROM 
    			BOARD_LIST
    		ORDER BY 
    			RAND()
  			) temp
		GROUP BY 
			BL_CATEGORY;
	</select>
	
</mapper>
