@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nanum+Brush+Script&family=Poor+Story&display=swap');


/* 기본설정 */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Poor Story', cursive;
} 
/* 
메인배경화면만 반투명하게 설정
body::after {		
	width: 100%;
	height: 100%;
	content: "";
	background: url("/images/203518.jpg") no-repeat center center fixed; 반장님 죄송해요
	범인이 누구신가.....
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 15%;
}
 */
#all-wrap {
	height: auto;
	min-height: 100%;
	padding-bottom: 120px;
}



/* 슬라이드 */
.swiper {
	width: 500px;
	height: 250px;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.user-slider-img {
	margin-right: 20px;
	width: 170px;
	height: 200px;
}
	
/* .notice .promotion .swiper-slide {
  opacity: 0.3;
  transition: opacity 1s;
}
.user-slider-img {
	opacity: 1;
}  */


/* 게시판 미리보기 */

/* 게시판 미리보기 둥근 테두리 */
.table-active {
	border-radius: 1rem;
	background: linear-gradient(50deg, grey);
}
table {
	font-family: 'Poor Story', cursive;
	text-align : center;
}
#mini-all {
	margin-top: 50px;
	height: 700px;
}
.mini-div-01 {
	position: absolute;
	width: 470px;
}

.mini-div-02 {
	position: relative;
	margin: 0 0 0 550px;
	width: 470px;
	height: 40%;
}
.mini-div-03 {
	position: absolute;
	margin-top:30px;
	width: 470px;
}
.mini-div-04 {
	position: absolute;
	margin: 30px 0 0 550px;
	width: 470px;
}


/* 반응형 */
@media screen and (max-width:900px) {

	.mini-div-01, .mini-div-02, .mini-div-03, .mini-div-04 {
		position: absolute;
		margin: auto;
		width: 470px;
	}
	#mini-all {
	margin-top: 50px;
	height: 100%;
}
	.mini-div-01 {
	position:relative;
	margin-top: 50px;
	}
	.mini-div-02 {
	position:relative;
	margin-top: 50px;
	}
	.mini-div-03 {
	position:relative;
	margin-top: 50px;
	}
	.mini-div-04 {
	position:relative;
	margin-top: 50px;
	}
}
